.designportal .basic-heading1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-heading1 {
      font-size: 2.4rem;
      margin: 0;
      padding: 0 15px 5px 15px;
    }
  }
  
  .designportal .basic-heading2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-heading2 {
      font-size: 2rem;
      padding: 10px 0 10px 0;
      margin: 0;
    }
  }
  
  .designportal .basic-heading3 {
    margin: 20px 0 0 0;
    font-size: 1.3rem;
    font-weight: bold;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-heading3 {
      font-size: 1.6rem;
    }
  }
  
  .designportal .basic-text {
    font-size: 1.2rem;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-text {
      font-size: 1.6rem;
    }
  }
  
  .designportal .basic-list-item {
    font-size: 1.2rem;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-list-item {
      font-size: 1.6rem;
    }
  }
  
  .designportal .basic-app-name {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #FFFFFF;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-app-name {
      font-size: 1.6rem;
      text-align: left;
      margin-top: 0;
      margin-left: 10px;
    }
  }
  
  .designportal .basic-space-name {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-space-name {
      font-size: 1.6rem;
      text-align: left;
      margin-top: 0;
      margin-left: 10px;
    }
  }
  
  .designportal-basic {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .designportal-basic h1, .designportal-basic h2, .designportal-basic h3, .designportal-basic ul, .designportal-basic ol, .designportal-basic p, .designportal-basic th, .designportal-basic td, .designportal-basic dl, .designportal-basic dt, .designportal-basic dd {
    margin: 0;
    padding: 0;
  }
  
  .designportal-basic ul {
    list-style: disc;
  }
  
  .designportal-basic ol {
    list-style: decimal;
  }
  
  .designportal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://static.cybozu.com/contents/k/image/ocean/cover/freshleaf.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  @media screen and (max-width: 768px) {
    .designportal {
      background-attachment: scroll;
      background-position: center center;
    }
  }
  
  .designportal .basic-container {
    width: 1080px;
    margin: 0 auto;
    padding: 20px 0 20px;
  }
  
  .designportal .basic-container:last-child {
    padding-bottom: 40px;
  }
  
  @media screen and (max-width: 1160px) {
    .designportal .basic-container {
      width: 96vw;
      margin: 0 2vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-container {
      width: 100%;
      margin: 0 auto;
      padding: 20px 0 5px 0;
    }
  }
  
  .designportal .basic-appSet, .designportal .basic-spaceSet, .designportal .basic-dataSet {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    justify-content: center;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-appSet, .designportal .basic-spaceSet, .designportal .basic-dataSet {
      display: block;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
    }
  }
  
  .designportal .basic-dataSet {
    justify-content: normal;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-dataSet {
      padding: 15px 15px;
    }
  }
  
  .designportal .basic-data {
    display: block;
    width: 100%;
    list-style-type: none;
    margin: 0 0 20px 0;
  }
  
  .designportal .basic-data-notifications {
    margin: 0 0 10px 0;
    text-align: left;
  }
  
  .designportal .basic-app {
    display: block;
    width: 168px;
    margin: 20px;
    list-style-type: none;
  }
  
  @media screen and (max-width: 1160px) {
    .designportal .basic-app {
      width: 16%;
      margin: 2%;
    }
    .designportal .basic-app:first-child {
      margin-left: 0;
    }
    .designportal .basic-app:last-child {
      margin-right: 0;
    }
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-app {
      width: auto;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #dddddd;
    }
    .designportal .basic-app:last-child {
      border-bottom: none;
    }
  }
  
  .designportal .basic-app-link, .designportal .basic-space-link {
    display: block;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-app-link, .designportal .basic-space-link {
      display: flex;
      align-items: center;
    }
  }
  
  .designportal .basic-app-link:hover, .designportal .basic-space-link:hover, .designportal .basic-app-link:focus, .designportal .basic-space-link:focus {
    text-decoration: underline;
    color: #FFFFFF;
  }
  
  .designportal .basic-app-link:focus, .designportal .basic-space-link:focus {
    outline: #3498db solid 1px;
  }
  
  .designportal .basic-app-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-app-icon {
      width: 40px;
      height: 40px;
      border-radius: 12px;
      margin: 0;
    }
  }
  
  .designportal .basic-app-icon-img {
    display: block;
    width: 75px;
    height: 75px;
    padding: 12.5px;
    fill: #FFFFFF;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-app-icon-img {
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }
  
  .designportal .basic-space {
    display: block;
    width: 220px;
    margin: 20px;
    list-style-type: none;
  }
  
  @media screen and (max-width: 1160px) {
    .designportal .basic-space {
      width: 46%;
      margin: 1.9%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-space {
      width: auto;
      margin: 0;
      padding: 10px 15px;
      border-bottom: solid 1px #dddddd;
    }
    .designportal .basic-space:last-child {
      border-bottom: none;
    }
  }
  
  .designportal .basic-space-img-container {
    height: 100px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 1160px) {
    .designportal .basic-space-img-container {
      width: 100%;
      height: 100px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-space-img-container {
      width: 40px;
      height: 40px;
      border-radius: 12px;
    }
  }
  
  .designportal .basic-space-img {
    display: block;
    height: 100px;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  
  @media screen and (max-width: 768px) {
    .designportal .basic-space-img {
      display: block;
      width: 40px;
      height: 40px;
    }
  }
  .designportal .basic-list {
    margin: 18px 0 18px 30px;
  }
  
  .designportal .basic-app-icon--blue {
    background: linear-gradient(180deg, #F4CC70 0%, #DE7A22 100%);
  }
  
  .designportal .basic-app-icon--pink {
    background: linear-gradient(180deg, #FF6EA2 0%, #E71F00 100%);
  }
  
  .designportal .basic-app-icon--green {
    background: linear-gradient(180deg, #6FCF97 0%, #9fdbb9 100%);
  }
  
  .designportal .basic-app-icon--purple {
    background: linear-gradient(180deg, #2988BC 0%, #2F496E 100%);
  }
  
  .designportal .basic-app-icon--orange {
    background: linear-gradient(180deg, rgb(198, 221, 241) 0%, #a1d3ac 100%);
  }
  